.main{
    text-align: center;
    color:blue

}
.mid{
    color:green
}
.para{
    color:red
}
.image{
    background-image: url(arshad3.jpg);
    background-attachment:fixed;
    height: 300px;
}
table{
    width: 100%;
    text-align: center;
    color:whitesmoke
    
    
    
}
th,td{
    border: 4px solid black; 
    background-color: blue;
}
.gilal{
    width: 1000px;
    margin: auto;
}